<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/LayoutStyle.css"/>
    <link rel="stylesheet" type="text/css" href="~/Styles/HomeStyle.css" />
</head>
<header>
    <img src="/Images/DarkEdenBanner.png"/>
</header>
<nav>
    <a>Home</a> 
    <a>Market</a> 
    <a>News&Events</a> 
    <a>CPanel</a> 
    <a>Info</a> 
</nav>
<body>
    @RenderBody()
</body>
<footer> &copy; Dark Eden Network 2015</footer>
</html>
