
@{
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
    ViewBag.Title = "Index";
}

<div class="Content">
    <div id="LeftContent">
        <img id="SlideShow" src="~/Images/update27_548x200.jpg"/>
        <div class="News">
            <h1>News&Events</h1>


        </div>
    </div>
    <div id="RightContent">
        <img id="DownloadClient"src="~/Images/game_start_bg.jpg"/>
        <img id="DownloadClient2" src="~/Images/game_start_menu.jpg"/>
    </div>

</div>

