
@{
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
    ViewBag.Title = "Index";
}
<img id="SlideShow" src="~/Images/slider-banner-darkeden.jpg" />
<div class="Content">
    <div id="LeftContent">
        <div class="News">
            <img src="~/Images/newsfiller_360.png"/>
            <img src="~/Images/updatefiller_360.png"/>
            <img src="~/Images/newsfiller_360.png" />
            <img src="~/Images/updatefiller_360.png" />
            <img src="~/Images/newsfiller_360.png" />
            <img src="~/Images/updatefiller_360.png" />
            <img src="~/Images/newsfiller_360.png" />
            <img src="~/Images/updatefiller_360.png" />
            <img src="~/Images/newsfiller_360.png" />
            <img src="~/Images/updatefiller_360.png" />
        </div>
    </div>
    <div id="RightContent">
        <img id="DownloadClient"src="~/Images/game_start_bg.jpg"/>
        <img id="DownloadClient2" src="~/Images/game_start_menu.jpg"/>
        <div id="login">
            <h1>Login/Register</h1>
            <form>
                <input type="text" placeholder="ID"/>
                <input type="password" placeholder="Password"/>
                <button>Enter</button>
            </form>
           <img id="server" src="~/Images/0801_eb_a0_88_eb_b2_a8_eb_8b_ac_ec_84_b13_720.png"/>
        </div>
    </div>
</div>
<img id="market" src="~/Images/marketdiscount_360.png" />

