@{
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}
@{
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Styles/MarketStyle.css" />
<h1>Market Place</h1>
<div id="Content">
    <div id="slayer">
        <img src="~/Images/Slayer_Banner.png"/>
        <article id="slayerItems">
            <img src="~/Images/Slayer_Background.png"/>
            <div id="slayerMarket">
                <img src="~/Images/0335.jpg" />
                <img src="~/Images/0336.jpg" />
                <img src="~/Images/0337.jpg" />
                <img src="~/Images/0338.jpg" />

            </div>
        </article>
    </div>
    <div id="vampire">
        <img src="~/Images/Vampire_Banner.png" />
        <article id="vampireItems">
            <img src="~/Images/Vampire_Background.png" />
            <div id="vampireMarket">
                <img src="~/Images/0309.jpg" />
                <img src="~/Images/0310.jpg" />
                <img src="~/Images/0311.jpg" />
                <img src="~/Images/0312.jpg" />

            </div>
        </article>
    </div>
    <div id="ouster">
        <img src="~/Images/Ouster_Banner.png" />
        <article id="ousterItems">
            <img src="~/Images/Ouster_Background.png"/>
            <div id="ousterMarket">
                <img src="~/Images/0797.jpg" />
                <img src="~/Images/0798.jpg" />
                <img src="~/Images/0886.jpg" />
                <img src="~/Images/0887.jpg" />

            </div>
        </article>

    </div>
    <div id="common">
        <img src="~/Images/Common_Banner.png" />
        <article id="commonItems">
            <img src="~/Images/Common_Background.png"/>
            <div id="commonMarket">
                <img src="~/Images/1032.jpg" />
                <img src="~/Images/1033.jpg" />
                <img src="~/Images/1034.jpg" />
                <img src="~/Images/1035.jpg" />

            </div>
        </article>

    </div>
</div>

<div class="checkout">

</div>
