@{
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Styles/NewsEventStyle.css" />
<h1>News & Events</h1>
<div class="content">
    <div id="News">
        <h2>News</h2>
    </div>
    <div id="Events">
        <h2>Events</h2>
    </div>
</div>
